body {
    text-align: center;
}
ul {
    text-align: left;
    color: #ee0000;
    font-weight: 700;
}
.meal {
    color: #ff0000;
}
.desert {
    color: #6e3506;
}
.snack {
    color: #7bd328;
}
.img {
    height: auto;
    width: 500px;
}
p, ol {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
